main textarea {
  width: 100%;
  height: 90px;
  border-top: 0px;
  border-bottom: 1px solid black;
  border-right: 0px;
  border-left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .tweet {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
}

main .tweet button {
  background-color: rgb(15, 15, 167);
  color: white;
  font-size: 15px;
  padding: 1px 20px;
  text-align: center;
  font-family: 'Bungee', cursive;
}

main div output {
  font-family: 'Bungee', cursive;
}

.red {
  color: red !important
}